# 部署
PRIVATE_KEY=0x
ADMIN_ADDRESS=
TREASURY_ADDRESS=
REWARD_SIGNER_ADDRESS=
BASE_TOKEN_URI=https://api.example.com/v1/skin/
ROYALTY_BPS=500

# 网络
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY=

# 灌数据
REGISTRY_ADDRESS=
DISTRIBUTOR_ADDRESS=
DEMO_PLAYER=
